<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category ID</th>
        <th>Category Name</th>
          <a href="/categories/add">Add</a>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#categories}}
        <td>{{category_id}}</td>
        <td>{{category_name}}
          <a href="/categories/edit/{{category_id}}">Edit</a>
          <a href="/categories/delete/{{category_id}}">Delete</a>
        </td>
        </tr>
        {{/categories}}
    </tbody>
  </table>
</div>
