<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Products</th>
          <a href="/products/add">Add</a>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#products}}
        <td>{{product_name}}
          <a href="/products/edit/{{category_id}}">Edit</a>
          <a href="/products/delete/{{category_id}}">Delete</a>
        </tr>
        {{/products}}
    </tbody>
  </table>
</div>
