<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Nelisa's Spaza Shop</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      {{#if user.is_admin}}  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/sales/week1">Weekly Sales Statistics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/sales/week1">week1</a></li>
            <li><a href="/sales/week2">week2</a></li>
            <li><a href="/sales/week3">week3</a></li>
            <li><a href="/sales/week4">week4</a></li>
          </ul>
        </li>{{/if}}
      <li><a href="categories">Categories</a></li>
        <li><a href="products">Products</a></li>
        <li><a href="sales">Sales</a></li>
        <li><a href="purchases">Purchases</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <!-- <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </nav>

  {{{body}}}

</body>

</html>
