<div class="container">
  <h1>Add product</h1>
  <form action="/products/add" method="POST">
    <div class="col-xs-3" id="text-align">
    <label for="email">Category Name:</label>
    <br>

    <select class="form-control" name="category_id">
      {{#categories}}
        <option value="{{category_id}}" align="center">{{category_name}}</option>
      {{/categories}}
    </select>
  <div class="form-group">
    <label for="">Product Name</label>
    <input type="text" class="form-control" name="product_name" value="{{product_name}}">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>

</body>

</html>
