h1>Edit users</h1>

<form action="/users/update/{{data.user_id}}" method="POST">
  <div>
	<label for="">Username</label>
	<input type="text" name="user_name" value="{{user_name}}">
</div>
<div>
  <label for="">Password</label>
  <input type="text" name="password" value="{{password}}">
</div>
<div>
  <label for="">Role</label>
  <input type="text" name="Role" value="{{Role}}">
  <div>
	<input type="submit">
</form>
