<h1>Welcome!</h1>

{{#if user}}
  Hello, {{user.name}}
  <h2>Welcome to Nelisa spaza shop</h2>
{{/if}}
{{# if user.is_admin}}
  Welcome admin user!
  <h3>You can add,delete and edit the information as you like</h3>{{/if}}
