<h1>login</h1>
<div class="login">

{{#if msg}}
<div class="message">
    {{msg}}
</div>
{{/if}}

<form class="" action="/login" method="post">
    <input type="text" name="username" value="" placeholder="username">
  <input type="password" placeholder="password" id="password">
  <a href="/signup" class="forgot">forgot password?</a>
  <input type="submit" name="name" value="login">
</div>
</form>
