<div class="container">
  <h2>Products Table</h2>
  <a href="/products/add">Add a new product</a>
  <table class="table">
    <thead>
      <tr>
        <th>Product-Id</th>
        <th>Product Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#products}}
        <td>{{product_id}}
        <td>{{product_name}}</td>
          <td><a href="/products/edit/{{product_id}}">Edit</a>
          <a href="/products/delete/{{product_id}}">Delete</a></td>
        </tr>
        {{/products}}
    </tbody>
  </table>
</div>

</body>
