
  <div class="header">
    Register
  </div>
  <form action="/signup" method="POST">
  <div class="register">
      <input type="text" required placeholder="Username" id="username">
      <input type="password" required placeholder="Password" id="password">
      <input type="password" required placeholder="Confirm password" id="confirm password">
    <div class="group" style="margin-top:60px">
      <select name="role">
  <option value="Role">Viewer</option>
</select>
      <input type="button" class="button-raised" value="REGISTER">
    </div>
  </div>
