
  <div class="header">
    Register
  </div>
  <form action="/signup/add" method="POST">
  <div class="register">
    <input type="text" name="username" value="{{username}}" placeholder="username">
      <input type="text" name="password" value="{{password}}" placeholder="password">
      <input type="password" required placeholder="Confirm password" id="confirm password"><br>
      <input type="text" name="Role" value="Viewer"><br>
  <input type="submit"><br>
  </div>
</form>
