
  <div class="header">
    Register
  </div>
  <form action="/signup/add" method="POST">
  <div class="register">
    <input type="text" name="username" value="{{username}}" placeholder="username">
      <input type="password" value="{{password}}" placeholder="password">
      <input type="password" value="{{confirmPassword}}" placeholder="confirm password"><br>
       <p id='warning'>{{messages.warning}}</p>
  <input type="submit"><br>
  </div>
</form>
