
<div class="panel panel-info">
  <div class="panel-heading">
    {{#sales}}
    <h3 class="panel-title">Most Profitable Product</h3> </div>
  <div class="panel-body"> Product Name: {{product_name}} </div>
  <div class="panel-body"> Quantity: {{MAX}} </div>
  {{/sales}}
</div>
