
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Most Popular Product</h3> </div>
  <div class="panel-body"> Product Name: </div>
  <div class="panel-body"> Quantity: </div>
</div>
