<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Admin_options</th>
    <a href="/users/add">Add a new user</a>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#users}}
        <td>{{name}}</td>
          <td><a href="/users/edit/{{user_id}}">Edit</a>
          <a href="/users/delete/{{user_id}}">Delete</a>
        </td>
        </tr>
        {{/users}}
    </tbody>
  </table>
</div>
